.bahasaSelect {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 220px;
    height: 40px;
    background-color: rgb(48, 48, 48);
    border: 1px solid rgb(80, 80, 80);
}